In [139]:
import pandas as pd
import numpy as np
import openpyxl as px
import shutil
import os
import glob

In [3]:
#pd.show_versions()

In [4]:
# prueba con para elminar valores duplicados

df_1 = pd.DataFrame( {
    'NAME' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [5]:
df_2 = pd.DataFrame( {
    'NAME_2' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_2': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_2': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [6]:
df_3 = pd.DataFrame( {
    'NAME_3' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_3': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_3': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [7]:
df_4 = pd.DataFrame( {
    'NAME_4' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_4': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_4': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [8]:
df_5 = pd.DataFrame( {
    'NAME_4' : ['jesus_5','maria_5' ], 
    'LAST_NAME_4': ['primero_5', 'segundo_5'], 
    'CITY_4': ['ccs_5', 'plc_5']
    
} )

In [9]:
df_6 = pd.DataFrame( {
    'NAME_6' : ['jesus_6','maria_6' ], 
    'LAST_NAME_6': ['primero_6', 'segundo_6'], 
    'CITY_6': ['ccs_6', 'plc_6']
    } )

In [10]:
df_7 = pd.DataFrame( {
    'NAME_6' : ['jesus_7','maria_7' ], 
    'LAST_NAME_6': ['primero_7', 'segundo_7'], 
    'CITY_6': ['ccs_7', 'plc_7']
    } )

In [11]:
df_6.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6

In [28]:
# salida de la len del df
len( df_6 )

2

In [13]:
# Eliminar valores duplicados por una llave de atributos
# df_1.drop_duplicates(subset=["NAME", "LAST_NAME", "CITY"])

In [14]:
# list_1 = [2, 3, 5]

# list_2 = [ 10, 20, 30 ]

# # output: 

# for item in range( len( list_1 ) ):
#     for num in range( len( list_2 ) ):
#         print( f'{list_2[num]} * {list_1[num]}' )

In [15]:
#df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
#df

In [16]:
#import math
#df['A'] = df['A'].apply( math.sqrt )

# Pruebas de escritura en hojas de c√°lculo

In [17]:
# Reference: https://pythonbasics.org/write-excel/

# export a df pandas object to excel file in a specific folder
df_1.to_excel( 'may_26/pandas_to_excel_1.xlsx', sheet_name='new_sheet_name' )

In [18]:
# export an excel file in a specific folder
# without row name
df_1.to_excel( 'may_26/pandas_to_excel_2.xlsx', 
              sheet_name='new_sheet_name', 
              index=False
              )

In [19]:
# export an excel file in a specific folder
# without row name and column name
df_1.to_excel( 'pandas_to_excel_3.xlsx', 
              sheet_name = 'new_sheet_name', 
              index = False, 
              header = False
              )

In [20]:
# # write diferent objects in excel file
# with pd.ExcelWriter( 'pandas_to_excel_4.xlsx' ) as writer:
#     df_1.to_excel( writer, sheet_name='sheet_df_1' )
#     df_2.to_excel( writer, sheet_name='sheet_df_2' )

In [34]:
# add df python object to new excel file

# raise an error
path = 'pandas_to_excel_4.xlsx'

# xlsxwriter allow work with .xlsx files

with pd.ExcelWriter( path, engine='xlsxwriter' ) as writer:
    df_3.to_excel( writer, sheet_name='sheet_df_3', index=False )
    df_4.to_excel( writer, sheet_name='sheet_df_4', index=False )
    #writer.close() # save and close the writer context

In [35]:
# option 1 
# add df python object, in a new sheet to existing excel file

# route of existing file 
path = 'pandas_to_excel_4.xlsx'

# "openpyxl" allow write existing .xlsx files
with pd.ExcelWriter( path, mode='a', 
                    engine='openpyxl', 
                    if_sheet_exists='replace' ) as writer:
   
   df_6.to_excel( writer, sheet_name='sheet_df_5', index=False )
   #writer.close() # save and close the writer context

In [36]:
df_6.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6

In [37]:
# option 2

# try with these solution
# https://www.codingconception.com/python-examples/append-data-in-excel-using-python/

# route of existing file 
path = 'pandas_to_excel_4.xlsx'

# "openpyxl" allow write existing .xlsx files
# 'overlay' permite escribir sin borrar lo existente
with pd.ExcelWriter( path,
                    mode='a', 
                    engine='openpyxl', 
                    if_sheet_exists='overlay' ) as writer:
    
    # vac√≠a el df espec√≠fico en una hoja existente
    start_row = len( df_7 ) + 1
    df_7.to_excel( writer, 
                  sheet_name = 'sheet_df_5', 
                  startrow = start_row, 
                  index = False,
                  header = None
                  )

In [38]:
path = 'pandas_to_excel_4.xlsx'
df_result = pd.read_excel( path, sheet_name="sheet_df_5" )

#print(len(reader) + 1)
#reader = reader.drop( labels=0, axis=0 )
df_result.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6
2  jesus_7   primero_7  ccs_7
3  maria_7   segundo_7  plc_7

In [25]:
#pd.show_versions()

In [26]:
# # create a pandas excel writer
# # open de file
# path = 'pandas_to_excel_4.xlsx'
# writer = pd.ExcelWriter( path, engine='xlsxwriter' )

# # convert the dataframe to an xlsxwriter
# df_3.to_excel( writer, sheet_name='sheet_df_3', index=False )

# writer.save()

In [29]:
# path = 'pandas_to_excel_4.xlsx'
# # append data in excel file
# writer = pd.ExcelWriter(path, engine='openpyxl')
# # try to open an existing workbook
# writer.book = px.load_workbook(path)
# # copy existing sheets
# writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)
# # read existing file
# reader = pd.read_excel(path)
# # write out the new sheet
# df_5.to_excel(writer,index=False,header=False,startrow=len(reader)+1)

# writer.close()

In [27]:
# reading a .txt file 

filter_file = 'input/listado_de_sitios_at.txt'

read_file = open( filter_file, 'r' )

data = read_file.read()

#print( "Data in file:", data )

# data_into_list = data.replace('\n', ' ').split(".")
#list_data = data.replace( '\n', '' ).split( "," )
list_data = data.split( "\n" )

read_file.close()

print( data )
print( "list of data: ", list_data )
print( len( list_data ) )

BCA.Terminal
BOG.CC Titan-2
BOG.Atavanza
BOG.Puente Grande
list of data:  ['BCA.Terminal', 'BOG.CC Titan-2', 'BOG.Atavanza', 'BOG.Puente Grande']
4

In [41]:
# Revisar que valores de una lista se ecuentran en otra

# lista que se buscar√°
sites_to_search = ['site 1', 'site 2', 'site 3', 'site 4', 'site 5']

# lista de pruebas 1
test_list_2g = [ 'site 1', 'site 5' ]
test_list_3g = [ 'site 2', 'site 4' ]
test_list_4g = [ 'site 3']

# algortimo de b√∫squeda
found_sites_2g = []
total_items_searched_2g = len( sites_to_search )
found_items_counter = 0
for item in sites_to_search:
    if item in test_list_2g:
        found_items_counter += 1
        found_sites_2g.append( item )

#print( f'Found sites: {found_sites}' )

print( f" items found: {found_items_counter}/{total_items_searched_2g} ({found_sites_2g}) " )

 items found: 2/5 (['site 1', 'site 5'])

In [62]:

# Pruebas para copiar y pegar un archivo en una ruta espec√≠fica.
src_path_2g = r"plantilla/Alertas Tempranas_2G.xlsx"
src_path_3g = r"plantilla/Alertas Tempranas_3G.xlsx"
src_path_4g = r"plantilla/Alertas Tempranas_4G.xlsx"

#files_src = [ src_path_2g, src_path_3g, src_path_4g ]

dest_path = r"output/"

# copiar archivo
shutil.copy( src_path_2g, dest_path )

# sites 2g
found_sites_2g

# rename the file
for file_name in os.listdir(dest_path):
    if "2G" in file_name:
        for file in range( len( found_sites_2g )):
            
            old_name = dest_path + file_name
            new_name_dest = dest_path + found_sites_2g[file]+'_' + file_name
            
            os.rename( old_name, new_name_dest )
            shutil.copy( src_path_2g, dest_path )
            
        os.remove( old_name )
            
print( old_name )            
print( new_name_dest )


# for file in range( len( found_sites_2g ) ):
#     shutil.copy( src_path_2g, dest_path )
#     #print( found_sites_2g[file] )

# Each file will be copied as many times as the files exist by technology

output/Alertas Tempranas_2G.xlsx
output/site 5_Alertas Tempranas_2G.xlsx

In [38]:
# def searching( *sites_searching ):
#     """ searching sites by technology """
#     found_sites = []
#     total_items_searched = len( list_data )
#     found_items_counter = 0
#     for item in sites_to_search:
#         if item in sites_searching:
#             found_items_counter += 1
#             found_sites.append( item )

#     return print( found_sites )

In [4]:
dict_test = pd.DataFrame(
    {
        'BCA.Terminal' : ['one', 'two', 'tree'], 
        'BOG.CC Titan-2' : ['four', 'five', 'six'], 
        'BOG.Atavanza' : ['seven', 'eight', 'nine']
    }
)

for key in dict_test.keys():
    print( key )

BCA.Terminal
BOG.CC Titan-2
BOG.Atavanza

In [9]:
# Inyecci√≥n de los datos 
# destination path
dest_path = r"output/"
found_sites_lte_failures = ['BCA.Terminal', 'BOG.CC Titan-2', 'BOG.Atavanza']

# recorre los archivos existentes
for file_name in os.listdir(dest_path):
    if "4G" in file_name:
        #print( "4G: ", file_name )
        # ruta de los archivos 4g
        path_file_4g = dest_path + file_name
        for site in found_sites_lte_failures:
            if site in path_file_4g:
                # colocar el c√≥digo de injection
                #print( "injection route:" ,path_file_4g )
                #print( "data injection", "\n", dict_test[ site ] )
                # Saving 4G files
                # path_4g = 'output/Alertas Tempranas_4G.xlsx'

                with pd.ExcelWriter( 
                                    path_file_4g,
                                    mode='a', 
                                    engine='openpyxl', 
                                    if_sheet_exists='overlay' ) as writer:
                    
                    # reading the dimensions of the existing file
                    reader_faults_lte = pd.read_excel( path_file_4g, sheet_name='Data2' )
                    start_row_faults_lte = len( reader_faults_lte ) + 1
                    
                    # fill the specific df in an existing sheet
                    dict_test[ site ].to_excel( 
                                                writer, 
                                                sheet_name = 'Data2', 
                                                index = False,
                                                header = None,
                                                startrow = start_row_faults_lte
                                                )
                      
            else:
                pass
                
    else:
        pass
    
    # if "3G" in file_name:
    #     print( "3G: ", file_name )
    # else:
    #     pass
    
    # if "2G" in file_name:
    #     print( "2G: ", file_name )
    # else:
    #     pass

In [15]:
path = "/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/"

xlsx_files_list = glob.glob( path + "input" + "/*.xlsx" )

print( xlsx_files_list[1] )
# for xlsx_file in xlsx_files_list:
#     print( xlsx_file )

/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/input/WCDMA17_NPO_Monitoring_V4_RC9-RSRAN-WCEL-hour-PM_60151-2022_05_09-08_46_41__74 (copia).xlsx

In [23]:
# Consolite files by technology in input folder

# algorith
# 1. Copy files from plantilla to input folder
# 2. Inyectar la data filtrada en los archivos correspondientes, 
#   seg√∫n las pesta√±as que correspondan

import pandas as pd
import numpy as np
import glob
from pathlib import Path
import shutil
import os

# destination path input folder
dest_path_input = r"input/"

# templates path
src_path_plantilla = r"plantilla/"
for consolidated_file in os.listdir(src_path_plantilla):
    src_path = src_path_plantilla + consolidated_file
    
    if consolidated_file in os.listdir( dest_path_input ):
        #print( f"here is this file: {dest_path_input + consolidated_file}" )
        os.remove( dest_path_input + consolidated_file )
        shutil.copy( src_path, dest_path_input )
        
    else:
        #print( "it wasn't!" )
        shutil.copy( src_path, dest_path_input )

# Pruebas para la generaci√≥n de las gr√°ficas

In [2]:
import pandas as pd
import numpy as np

In [36]:
# 4G graph 1-13

# option 1: Generate the empty dataframe

# attributes graph 1
# Etiquetas de fila	L1	L2	L3	L4	L5	L6	M1
# M2	M3	M4	M5	M6	R1	R2	R3	T1	T2	T3
# T4	T5	T6	Total general
graph_dict = {}

attribute_graph_1 = [ 
                     'Etiquetas de fila', 
                     'L1',	'L2', 'L3', 
                     'L4', 'L5', 'L6', 
                     'M1', 'M2', 'M3', 'M4', 
                     'M5',	'M6',	'R1',
                     'R2', 'R3', 'T1', 'T2', 
                     'T3', 'T4', 'T5', 'T6', 
                     'Total general' 
                     ]

for item in attribute_graph_1:
    graph_dict[item] = [ np.nan for i in range( 3 ) ]

df_graph_1 = pd.DataFrame( graph_dict )

In [38]:
df_graph_1.head()

,Etiquetas de fila,L1,L2,L3,L4,L5,L6,M1,M2,M3,...,R1,R2,R3,T1,T2,T3,T4,T5,T6,Total general
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
# tratamiento para un archivo

# test file
dest_path = r"output/"
path_file_test = dest_path + "BOG.Atavanza_Alertas Tempranas_4G.xlsx"

# read the specific tab
df_tests = pd.read_excel( io=path_file_test, sheet_name="Data" )

# attributes for the graph
df_graph_1 = df_tests[ [ 'Period start time', 'Cell Avail excl BLU', 'Sector' ] ]

df_graph_1.rename( columns = {
    "Period start time": "Etiquetas de fila"
    }, inplace = True);

# change the format
df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

# uniques values for the attribute column
column_list = list( df_graph_1[ 'Sector' ].unique() )

# insert the first attribute
column_list.insert( 0, "Etiquetas de fila" )

# Dictionary for data package
dict_graph1 = {}

# attribute 1
graph_1 = "Cell Avail excl BLU"

# the first value of dictionary
dict_graph1[ column_list[0] ] = df_graph_1[ column_list[0] ] 

# build a dictionary with 
for item in range(1, len( column_list ) ):
    dict_graph1[ column_list[item] ] = df_graph_1[ df_graph_1["Sector"] == column_list[item] ][graph_1]

df_1 = pd.DataFrame( dict_graph1 )

/tmp/ipykernel_14487/3254028988.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_graph_1.rename( columns = {
/tmp/ipykernel_14487/3254028988.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

In [161]:
#df_1[ df_1["L2"] != np.nan]

In [47]:
# extraigo los atributos requeridos
#df_graph_1 = df_tests[ [ 'Period start time', 'Cell Avail excl BLU', 'column' ] ]

In [113]:
# df_graph_1.head(3)

In [117]:
# Renombro la primera columna por "Etiquetas de fila"
# df_graph_1.rename( columns = {
#     "Period start time": "Etiquetas de fila"
#     });

In [134]:
#df_graph_1.head(3)

In [130]:
# Change the format the first column

# df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

In [132]:
#df_graph_1.tail(3)

In [133]:
# Extraer los valores √∫nicos de los columnes
# column_list = list( df_graph_1[ 'column' ].unique() )
# column_list.insert( 0, "Etiquetas de fila" )

In [148]:
df_1.head(3)

,Etiquetas de fila,L2,L3,L4,M1,M2,M3,M4,R1,R2,R3,R4,T2,T3,T4
0,01/05/2022 09:00,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/05/2022 09:00,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/05/2022 09:00,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dict_st2 = {}
for item in range(1, len( column_list ) ):
    dic

In [163]:
l2 = df_1[ (df_1['L2'] > 0)][["Etiquetas de fila", "L2"]]
l3 = df_1[ (df_1['L3'] > 0)][["Etiquetas de fila", "L3"]]
l4 = df_1[ (df_1['L4'] > 0)][["Etiquetas de fila", "L4"]]

In [165]:
# join the data frame
#df.join(other.set_index('key'), on='key')
l23 = l2.join( l3.set_index( 'Etiquetas de fila' ), on="Etiquetas de fila" )

In [57]:
df_graph_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2674 entries, 0 to 2673
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Etiquetas de fila    2674 non-null   object
 1   Cell Avail excl BLU  2674 non-null   int64
 2   Sector               2674 non-null   object
dtypes: int64(1), object(2)
memory usage: 62.8+ KB

In [82]:
df_graph_1[ df_graph_1["column"] == "T3" ]["Cell Avail excl BLU"]

12      100
26      100
40      100
54      100
68      100
       ...
2616    100
2630    100
2644    100
2658    100
2672    100
Name: Cell Avail excl BLU, Length: 191, dtype: int64

In [1]:
# option 2
dest_path = r"output/"

#############################################################
#**** Graphs*****
#############################################################

print("\n")
print("********************************************************")
print("graphics for 4g...")
print("********************************************************")

########## Data injection FAULTS LTE #########
# loop through existing files
for file_name in os.listdir(dest_path):
    if "4G" in file_name:
        # file filtered path
        path_file_4g = dest_path + file_name
        
        print( path_file_4g )
        
    #     for site in dic_lte_faults:
    #         if site in path_file_4g:
    #             # data injection
    #             with pd.ExcelWriter( 
    #                                 path_file_4g,
    #                                 mode='a', 
    #                                 engine='openpyxl', 
    #                                 if_sheet_exists='overlay' ) as writer:
                    
    #                 # reading the dimensions of the existing file
    #                 reader_faults_lte = pd.read_excel( path_file_4g, sheet_name='Data2' )
    #                 start_row_faults_lte = len( reader_faults_lte ) + 1
                    
    #                 # fill the specific df in an existing sheet
    #                 dic_lte_faults[ site ].to_excel( 
    #                                             writer, 
    #                                             sheet_name = 'Data2', 
    #                                             index = False,
    #                                             header = None,
    #                                             startrow = start_row_faults_lte
    #                                             )
                      
    #         else:
    #             pass
                
    # else:
    #     pass

********************************************************
4G data injection...
********************************************************
output/BOG.Puente Grande_Alertas Tempranas_4G.xlsx
output/BOG.CC Titan-2_Alertas Tempranas_4G.xlsx
output/BCA.Terminal_Alertas Tempranas_4G.xlsx
output/BOG.Atavanza_Alertas Tempranas_4G.xlsx