In [38]:
import pandas as pd
import numpy as np
import openpyxl as px
import shutil
import os
import glob

In [3]:
#pd.show_versions()

In [4]:
# prueba con para elminar valores duplicados

df_1 = pd.DataFrame( {
    'NAME' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [5]:
df_2 = pd.DataFrame( {
    'NAME_2' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_2': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_2': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [6]:
df_3 = pd.DataFrame( {
    'NAME_3' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_3': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_3': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [7]:
df_4 = pd.DataFrame( {
    'NAME_4' : ['jesus','maria','jose', 'jesus','maria','jose', 'jesus','maria','jose' ], 
    'LAST_NAME_4': ['primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero', 'primero', 'segundo', 'tercero'], 
    'CITY_4': ['ccs', 'plc', 'mbo', 'merida', 'cumana', 'aragua', 'ccs', 'plc', 'mbo']
    
} )

In [8]:
df_5 = pd.DataFrame( {
    'NAME_4' : ['jesus_5','maria_5' ], 
    'LAST_NAME_4': ['primero_5', 'segundo_5'], 
    'CITY_4': ['ccs_5', 'plc_5']
    
} )

In [9]:
df_6 = pd.DataFrame( {
    'NAME_6' : ['jesus_6','maria_6' ], 
    'LAST_NAME_6': ['primero_6', 'segundo_6'], 
    'CITY_6': ['ccs_6', 'plc_6']
    } )

In [10]:
df_7 = pd.DataFrame( {
    'NAME_6' : ['jesus_7','maria_7' ], 
    'LAST_NAME_6': ['primero_7', 'segundo_7'], 
    'CITY_6': ['ccs_7', 'plc_7']
    } )

In [11]:
df_6.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6

In [28]:
# salida de la len del df
len( df_6 )

2

In [13]:
# Eliminar valores duplicados por una llave de atributos
# df_1.drop_duplicates(subset=["NAME", "LAST_NAME", "CITY"])

In [14]:
# list_1 = [2, 3, 5]

# list_2 = [ 10, 20, 30 ]

# # output: 

# for item in range( len( list_1 ) ):
#     for num in range( len( list_2 ) ):
#         print( f'{list_2[num]} * {list_1[num]}' )

In [15]:
#df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
#df

In [16]:
#import math
#df['A'] = df['A'].apply( math.sqrt )

# Pruebas de escritura en hojas de cálculo

In [17]:
# Reference: https://pythonbasics.org/write-excel/

# export a df pandas object to excel file in a specific folder
df_1.to_excel( 'may_26/pandas_to_excel_1.xlsx', sheet_name='new_sheet_name' )

In [18]:
# export an excel file in a specific folder
# without row name
df_1.to_excel( 'may_26/pandas_to_excel_2.xlsx', 
              sheet_name='new_sheet_name', 
              index=False
              )

In [19]:
# export an excel file in a specific folder
# without row name and column name
df_1.to_excel( 'pandas_to_excel_3.xlsx', 
              sheet_name = 'new_sheet_name', 
              index = False, 
              header = False
              )

In [20]:
# # write diferent objects in excel file
# with pd.ExcelWriter( 'pandas_to_excel_4.xlsx' ) as writer:
#     df_1.to_excel( writer, sheet_name='sheet_df_1' )
#     df_2.to_excel( writer, sheet_name='sheet_df_2' )

In [34]:
# add df python object to new excel file

# raise an error
path = 'pandas_to_excel_4.xlsx'

# xlsxwriter allow work with .xlsx files

with pd.ExcelWriter( path, engine='xlsxwriter' ) as writer:
    df_3.to_excel( writer, sheet_name='sheet_df_3', index=False )
    df_4.to_excel( writer, sheet_name='sheet_df_4', index=False )
    #writer.close() # save and close the writer context

In [35]:
# option 1 
# add df python object, in a new sheet to existing excel file

# route of existing file 
path = 'pandas_to_excel_4.xlsx'

# "openpyxl" allow write existing .xlsx files
with pd.ExcelWriter( path, mode='a', 
                    engine='openpyxl', 
                    if_sheet_exists='replace' ) as writer:
   
   df_6.to_excel( writer, sheet_name='sheet_df_5', index=False )
   #writer.close() # save and close the writer context

In [36]:
df_6.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6

In [37]:
# option 2

# try with these solution
# https://www.codingconception.com/python-examples/append-data-in-excel-using-python/

# route of existing file 
path = 'pandas_to_excel_4.xlsx'

# "openpyxl" allow write existing .xlsx files
# 'overlay' permite escribir sin borrar lo existente
with pd.ExcelWriter( path,
                    mode='a', 
                    engine='openpyxl', 
                    if_sheet_exists='overlay' ) as writer:
    
    # vacía el df específico en una hoja existente
    start_row = len( df_7 ) + 1
    df_7.to_excel( writer, 
                  sheet_name = 'sheet_df_5', 
                  startrow = start_row, 
                  index = False,
                  header = None
                  )

In [38]:
path = 'pandas_to_excel_4.xlsx'
df_result = pd.read_excel( path, sheet_name="sheet_df_5" )

#print(len(reader) + 1)
#reader = reader.drop( labels=0, axis=0 )
df_result.head()

    NAME_6 LAST_NAME_6 CITY_6
0  jesus_6   primero_6  ccs_6
1  maria_6   segundo_6  plc_6
2  jesus_7   primero_7  ccs_7
3  maria_7   segundo_7  plc_7

In [25]:
#pd.show_versions()

In [26]:
# # create a pandas excel writer
# # open de file
# path = 'pandas_to_excel_4.xlsx'
# writer = pd.ExcelWriter( path, engine='xlsxwriter' )

# # convert the dataframe to an xlsxwriter
# df_3.to_excel( writer, sheet_name='sheet_df_3', index=False )

# writer.save()

In [29]:
# path = 'pandas_to_excel_4.xlsx'
# # append data in excel file
# writer = pd.ExcelWriter(path, engine='openpyxl')
# # try to open an existing workbook
# writer.book = px.load_workbook(path)
# # copy existing sheets
# writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)
# # read existing file
# reader = pd.read_excel(path)
# # write out the new sheet
# df_5.to_excel(writer,index=False,header=False,startrow=len(reader)+1)

# writer.close()

In [27]:
# reading a .txt file 

filter_file = 'input/listado_de_sitios_at.txt'

read_file = open( filter_file, 'r' )

data = read_file.read()

#print( "Data in file:", data )

# data_into_list = data.replace('\n', ' ').split(".")
#list_data = data.replace( '\n', '' ).split( "," )
list_data = data.split( "\n" )

read_file.close()

print( data )
print( "list of data: ", list_data )
print( len( list_data ) )

BCA.Terminal
BOG.CC Titan-2
BOG.Atavanza
BOG.Puente Grande
list of data:  ['BCA.Terminal', 'BOG.CC Titan-2', 'BOG.Atavanza', 'BOG.Puente Grande']
4

In [41]:
# Revisar que valores de una lista se ecuentran en otra

# lista que se buscará
sites_to_search = ['site 1', 'site 2', 'site 3', 'site 4', 'site 5']

# lista de pruebas 1
test_list_2g = [ 'site 1', 'site 5' ]
test_list_3g = [ 'site 2', 'site 4' ]
test_list_4g = [ 'site 3']

# algortimo de búsqueda
found_sites_2g = []
total_items_searched_2g = len( sites_to_search )
found_items_counter = 0
for item in sites_to_search:
    if item in test_list_2g:
        found_items_counter += 1
        found_sites_2g.append( item )

#print( f'Found sites: {found_sites}' )

print( f" items found: {found_items_counter}/{total_items_searched_2g} ({found_sites_2g}) " )

 items found: 2/5 (['site 1', 'site 5'])

In [62]:

# Pruebas para copiar y pegar un archivo en una ruta específica.
src_path_2g = r"plantilla/Alertas Tempranas_2G.xlsx"
src_path_3g = r"plantilla/Alertas Tempranas_3G.xlsx"
src_path_4g = r"plantilla/Alertas Tempranas_4G.xlsx"

#files_src = [ src_path_2g, src_path_3g, src_path_4g ]

dest_path = r"output/"

# copiar archivo
shutil.copy( src_path_2g, dest_path )

# sites 2g
found_sites_2g

# rename the file
for file_name in os.listdir(dest_path):
    if "2G" in file_name:
        for file in range( len( found_sites_2g )):
            
            old_name = dest_path + file_name
            new_name_dest = dest_path + found_sites_2g[file]+'_' + file_name
            
            os.rename( old_name, new_name_dest )
            shutil.copy( src_path_2g, dest_path )
            
        os.remove( old_name )
            
print( old_name )            
print( new_name_dest )


# for file in range( len( found_sites_2g ) ):
#     shutil.copy( src_path_2g, dest_path )
#     #print( found_sites_2g[file] )

# Each file will be copied as many times as the files exist by technology

output/Alertas Tempranas_2G.xlsx
output/site 5_Alertas Tempranas_2G.xlsx

In [38]:
# def searching( *sites_searching ):
#     """ searching sites by technology """
#     found_sites = []
#     total_items_searched = len( list_data )
#     found_items_counter = 0
#     for item in sites_to_search:
#         if item in sites_searching:
#             found_items_counter += 1
#             found_sites.append( item )

#     return print( found_sites )

In [4]:
dict_test = pd.DataFrame(
    {
        'BCA.Terminal' : ['one', 'two', 'tree'], 
        'BOG.CC Titan-2' : ['four', 'five', 'six'], 
        'BOG.Atavanza' : ['seven', 'eight', 'nine']
    }
)

for key in dict_test.keys():
    print( key )

BCA.Terminal
BOG.CC Titan-2
BOG.Atavanza

In [9]:
# Inyección de los datos 
# destination path
dest_path = r"output/"
found_sites_lte_failures = ['BCA.Terminal', 'BOG.CC Titan-2', 'BOG.Atavanza']

# recorre los archivos existentes
for file_name in os.listdir(dest_path):
    if "4G" in file_name:
        #print( "4G: ", file_name )
        # ruta de los archivos 4g
        path_file_4g = dest_path + file_name
        for site in found_sites_lte_failures:
            if site in path_file_4g:
                # colocar el código de injection
                #print( "injection route:" ,path_file_4g )
                #print( "data injection", "\n", dict_test[ site ] )
                # Saving 4G files
                # path_4g = 'output/Alertas Tempranas_4G.xlsx'

                with pd.ExcelWriter( 
                                    path_file_4g,
                                    mode='a', 
                                    engine='openpyxl', 
                                    if_sheet_exists='overlay' ) as writer:
                    
                    # reading the dimensions of the existing file
                    reader_faults_lte = pd.read_excel( path_file_4g, sheet_name='Data2' )
                    start_row_faults_lte = len( reader_faults_lte ) + 1
                    
                    # fill the specific df in an existing sheet
                    dict_test[ site ].to_excel( 
                                                writer, 
                                                sheet_name = 'Data2', 
                                                index = False,
                                                header = None,
                                                startrow = start_row_faults_lte
                                                )
                      
            else:
                pass
                
    else:
        pass
    
    # if "3G" in file_name:
    #     print( "3G: ", file_name )
    # else:
    #     pass
    
    # if "2G" in file_name:
    #     print( "2G: ", file_name )
    # else:
    #     pass

In [15]:
path = "/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/"

xlsx_files_list = glob.glob( path + "input" + "/*.xlsx" )

print( xlsx_files_list[1] )
# for xlsx_file in xlsx_files_list:
#     print( xlsx_file )

/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/input/WCDMA17_NPO_Monitoring_V4_RC9-RSRAN-WCEL-hour-PM_60151-2022_05_09-08_46_41__74 (copia).xlsx

In [23]:
# Consolite files by technology in input folder

# algorith
# 1. Copy files from plantilla to input folder
# 2. Inyectar la data filtrada en los archivos correspondientes, 
#   según las pestañas que correspondan

import pandas as pd
import numpy as np
import glob
from pathlib import Path
import shutil
import os

# destination path input folder
dest_path_input = r"input/"

# templates path
src_path_plantilla = r"plantilla/"
for consolidated_file in os.listdir(src_path_plantilla):
    src_path = src_path_plantilla + consolidated_file
    
    if consolidated_file in os.listdir( dest_path_input ):
        #print( f"here is this file: {dest_path_input + consolidated_file}" )
        os.remove( dest_path_input + consolidated_file )
        shutil.copy( src_path, dest_path_input )
        
    else:
        #print( "it wasn't!" )
        shutil.copy( src_path, dest_path_input )

# Pruebas para la generación de las gráficas

In [2]:
import pandas as pd
import numpy as np

In [36]:
# 4G graph 1-13

# option 1: Generate the empty dataframe

# attributes graph 1
# Etiquetas de fila	L1	L2	L3	L4	L5	L6	M1
# M2	M3	M4	M5	M6	R1	R2	R3	T1	T2	T3
# T4	T5	T6	Total general
graph_dict = {}

attribute_graph_1 = [ 
                     'Etiquetas de fila', 
                     'L1',	'L2', 'L3', 
                     'L4', 'L5', 'L6', 
                     'M1', 'M2', 'M3', 'M4', 
                     'M5',	'M6',	'R1',
                     'R2', 'R3', 'T1', 'T2', 
                     'T3', 'T4', 'T5', 'T6', 
                     'Total general' 
                     ]

for item in attribute_graph_1:
    graph_dict[item] = [ np.nan for i in range( 3 ) ]

df_graph_1 = pd.DataFrame( graph_dict )

In [38]:
df_graph_1.head()

,Etiquetas de fila,L1,L2,L3,L4,L5,L6,M1,M2,M3,...,R1,R2,R3,T1,T2,T3,T4,T5,T6,Total general
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Pruebas para generación de datos para las gráficas

In [163]:
# Function for processing data to graph
# return a df with data for 1 parameter

def data_to_graph_1(file_name: str, parameter: str ): 
    """
    Description: Generates a df from the parameter to analyze and 
    the name of the file filtered by technology and site.
    
    Inputs:
    file_name -> file name by site and technology 
    parameter -> attribute to analyse
    """
    # variables
    filter_by = "Sector"
    source = "Data"
    # source: "Data" 17 attributes
    
    dest_path = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"
    #file_name = "BOG.Atavanza_Alertas Tempranas_4G.xlsx"
    
    path_file = dest_path + file_name


    # read the specific tab
    df_in = pd.read_excel( io=path_file, sheet_name= source )

    # attributes for the graph
    df_graph_1 = df_in[ [ 'Period start time', parameter, filter_by ] ]

    # rename the attribute 
    df_graph_1 = df_graph_1.rename( { "Period start time": "Etiquetas de fila"}, axis='columns')

    # change the format
    df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

    # uniques values for the attribute column
    column_list = list( df_graph_1[ filter_by ].unique() )

    # insert the first attribute
    column_list.insert( 0, "Etiquetas de fila" )

    # Dictionary for data package
    dict_graph1 = {}

    # the first value of dictionary
    dict_graph1[ column_list[0] ] = df_graph_1[ column_list[0] ] 

    # build a dictionary with 
    for item in range(1, len( column_list ) ):
        dict_graph1[ column_list[item] ] = df_graph_1[ df_graph_1[ filter_by ] == column_list[item] ][parameter]

    df_1 = pd.DataFrame( dict_graph1 )

    dict_st2 = {}
    for item in range(1, len( column_list ) ):
        dict_st2[ column_list[item] ] = df_1[ (df_1[ column_list[item] ] > 0)][[column_list[0], column_list[item]]]

    # create a consolidate df
    count = 1
    while ( count < len( dict_st2 ) ):
        global df_f
        
        if count == 1:
            df_f = dict_st2[column_list[count]].join(
                dict_st2[column_list[count + 1]].set_index( column_list[0] ),
                on=column_list[0] )

            count += 1
                    
        else:
            df_f = df_f.join( dict_st2[column_list[count + 1]].set_index( column_list[0] ),
                on=column_list[0] )

            count += 1
            
    # add the mean at the end
    df_f["Total general"] = df_f.iloc[ : , 1: ].mean( axis=1 )

    return df_f

In [172]:
# Function 2 for data injection in the specific file_name

def data_to_graph_2( file_name ):

    # parameters in 4G vs "Sector"
    pm_to_graph_data = [    
                        "Cell Avail excl BLU", "RACH Stp Completion SR",
                        "Total E-UTRAN RRC conn stp SR", "Data RB stp SR", 
                        "E-UTRAN E-RAB stp SR", "Intra eNB HO SR total", 
                        "Inter eNB E-UTRAN tot HO SR X2", "E-UTRAN Inter-Freq HO SR", 
                        "Avg PDCP cell thp UL", "Avg PDCP cell thp DL", 
                        "PDCP SDU Volume, DL", "PDCP SDU Volume, UL", 
                        "Average CQI", "AVG_RTWP_RX_ANT_1 (M8005C306)", 
                        "Avg UE distance", "VoLTE total traffic", 
                        "Avg active users per cell"
                        ]


    # source: "Data2"
    #pm_to_graph_data2 = ["SCTP X2 succ trans R", "SCTP S1 succ trans R"]

    # save in a dict the data for graph
    dict_graph = {}
    #file_name = "BOG.Atavanza_Alertas Tempranas_4G.xlsx"

    #path_file = dest_path + file_name

    for pm in range(len(pm_to_graph_data)):
        dict_to_graph[ pm_to_graph_data[pm] ] = data_to_graph_1(file_name, pm_to_graph_data[pm] )
        
    #////  data injection in the specific file_name ////
    
    # file filtered path
    dest_path_input = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"
    path_file_4g = dest_path_input + file_name
    
    # sheet names
    sheet_names_4g = [ 'Cell Avail excl BLU', 'RACH',
                     'RRC', 'Radio Bearer', 'ERAB',
                     'Intra HO', 'Inter HO', 'Inter-Freq HO',
                     'Avg PDCP cell thp UL', 'Avg PDCP cell thp DL',
                     'PDCP SDU Volume, DL', 'PDCP SDU Volume, UL',
                     'Average CQI', 'AVG_RTWP', 'Avg UE distance',
                     'VoLTE total traffic', 'Avg active users per cell']
    
    # iterate each attribute in the dictionary
    for sheet_name in sheet_names_4g:
        
        # data injection
        with pd.ExcelWriter( 
                            path_file_4g,
                            mode='a', 
                            engine='openpyxl', 
                            if_sheet_exists='overlay' ) as writer:
            
            # reading the dimensions of the existing file
            reader_site = pd.read_excel( path_file_4g, sheet_name= sheet_name )
            start_row_site = len( reader_site ) + 1
                    
            # fill the specific df in an existing sheet
            dict_to_graph[ attribute ].to_excel( 
                                            writer, 
                                            sheet_name = sheet_name, 
                                            index = False,
                                            header = None,
                                            startrow = start_row_site
                                            )      
    
    #return dict_to_graph

In [175]:
# main script

# define operative system
os_ = "l"
    
if os_ == "w":
    dest_path = r"C:\PythonScripts\output"
    file_name = "\BOG.Atavanza_Alertas Tempranas_4G.xlsx"
    path_file = dest_path + file_name
        
elif os_ == "l":
    dest_path = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"

# processing data for each file in the path file
for file_name in os.listdir(dest_path):
    if "4G" in file_name:
        path_file = dest_path + file_name
        print( file_name )

#data_to_graph_2( "BOG.Atavanza_Alertas Tempranas_4G.xlsx" )

BOG.Puente Grande_Alertas Tempranas_4G.xlsx
BOG.CC Titan-2_Alertas Tempranas_4G.xlsx
BCA.Terminal_Alertas Tempranas_4G.xlsx
BOG.Atavanza_Alertas Tempranas_4G.xlsx

In [ ]:
# Construir un diccionario con la relación entre attribute y sheet_name
dict_att_sn = {}
for attribute in range( len( pm_to_graph_data ) ):
    dict_att_sn[ attribute ] = sheet_names_4g[ attribute ]

In [180]:
# Ensayo para validar la inyección de datos, a partir del diccionario {attribute : df}
# Este diccionario se debe inyectar en el file_name, considerando el nombre de las pestañas
# reales del file_name


# parameters in 4G vs "Sector"
pm_to_graph_data = [    
                    "Cell Avail excl BLU", "RACH Stp Completion SR",
                    "Total E-UTRAN RRC conn stp SR", "Data RB stp SR", 
                    "E-UTRAN E-RAB stp SR", "Intra eNB HO SR total", 
                    "Inter eNB E-UTRAN tot HO SR X2", "E-UTRAN Inter-Freq HO SR", 
                    "Avg PDCP cell thp UL", "Avg PDCP cell thp DL", 
                    "PDCP SDU Volume, DL", "PDCP SDU Volume, UL", 
                    "Average CQI", "AVG_RTWP_RX_ANT_1 (M8005C306)", 
                    "Avg UE distance", "VoLTE total traffic", 
                    "Avg active users per cell"
                    ]


# source: "Data2"
#pm_to_graph_data2 = ["SCTP X2 succ trans R", "SCTP S1 succ trans R"]

# save in a dict the data for graph
dict_graph = {}
file_name = "BOG.Atavanza_Alertas Tempranas_4G.xlsx"

    #path_file = dest_path + file_name

for pm in range(len(pm_to_graph_data)):
    dict_to_graph[ pm_to_graph_data[pm] ] = data_to_graph_1(file_name, pm_to_graph_data[pm] )
        
#dict_to_graph
#////  data injection in the specific file_name ////
    
    # file filtered path
dest_path_input = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"
path_file_4g = dest_path_input + file_name
    
# # sheet names
sheet_names_4g = [ 'Cell Avail excl BLU', 'RACH',
                    'RRC', 'Radio Bearer', 'ERAB',
                    'Intra HO', 'Inter HO', 'Inter-Freq HO',
                    'Avg PDCP cell thp UL', 'Avg PDCP cell thp DL',
                    'PDCP SDU Volume, DL', 'PDCP SDU Volume, UL',
                    'Average CQI', 'AVG_RTWP', 'Avg UE distance',
                    'VoLTE total traffic', 'Avg active users per cell']
    
#     # iterate each attribute in the dictionary
for sheet_name in range( len( sheet_names_4g ) ):
    
           
#   data injection
    with pd.ExcelWriter( 
                        path_file_4g,
                        mode='a', 
                        engine='openpyxl', 
                        if_sheet_exists='replace' ) as writer:
            
            # reading the dimensions of the existing file
            reader_site = pd.read_excel( path_file_4g, sheet_name= sheet_names_4g[sheet_name] )
            start_row_site = len( reader_site ) + 1
                    
#             # fill the specific df in an existing sheet
            dict_to_graph[ pm_to_graph_data[ sheet_name ] ].to_excel( 
                                            writer, 
                                            sheet_name = sheet_names_4g[sheet_name], 
                                            index = False,
                                            header = None,
                                            startrow = start_row_site
                                            )

In [152]:
# Modificación para que tome como argumento el nombre del archivo "file_name"

#def data_to_graph_2( file_name, parameter ):
# variables
file_name = "BOG.Atavanza_Alertas Tempranas_4G.xlsx"
parameter = "RACH Stp Completion SR"

filter_by = "Sector"
source = "Data"


# source: "Data" 17 attributes

dest_path = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"
    
path_file = dest_path + file_name


# read the specific tab
df_in = pd.read_excel( io=path_file, sheet_name= source )

#////// Procesamiento de los parámetros involucrados para la gráfica 1 ////

# parameters in 4G vs "Sector"
pm_to_graph_data = [    
                    "Cell Avail excl BLU", "RACH Stp Completion SR",
                    "Total E-UTRAN RRC conn stp SR", "Data RB stp SR", 
                    "E-UTRAN E-RAB stp SR", "Intra eNB HO SR total", 
                    "Inter eNB E-UTRAN tot HO SR X2", "E-UTRAN Inter-Freq HO SR", 
                    "Avg PDCP cell thp UL", "Avg PDCP cell thp DL", 
                    "PDCP SDU Volume, DL", "PDCP SDU Volume, UL", 
                    "Average CQI", "AVG_RTWP_RX_ANT_1 (M8005C306)", 
                    "Avg UE distance", "VoLTE total traffic", 
                    "Avg active users per cell"
                    ]

#for parameter in pm_to_graph_data:
    
# # attributes for the graph
df_graph_1 = df_in[ [ 'Period start time', parameter, filter_by ] ]

    # # rename the attribute 
df_graph_1 = df_graph_1.rename( { "Period start time": "Etiquetas de fila"}, axis='columns')

    # # change the format
df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

    # # uniques values for the attribute column
column_list = list( df_graph_1[ filter_by ].unique() )

    # # insert the first attribute
column_list.insert( 0, "Etiquetas de fila" )

    # # Dictionary for data package
dict_graph1 = {}

    # # the first value of dictionary
dict_graph1[ column_list[0] ] = df_graph_1[ column_list[0] ] 

    # # build a dictionary with 
for item in range(1, len( column_list ) ):
        #print( column_list[item] )
    dict_graph1[ column_list[item] ] = df_graph_1[ df_graph_1[ filter_by ] == column_list[item] ][parameter]

df_1 = pd.DataFrame( dict_graph1 )
#df_1

# dictionary with the column time and sector data
dict_st2 = {}
for item in range(1, len( column_list ) ):
    dict_st2[ column_list[item] ] = df_1[ (df_1[ column_list[item] ] > 0)][[column_list[0], column_list[item]]]

#dict_st2[ column_list[2] ]


# create a consolidate df
count = 1
while ( count < len( dict_st2 ) ):
    global df_f
        
    if count == 1:
        df_f = dict_st2[column_list[count]].join(
        dict_st2[column_list[count + 1]].set_index( column_list[0] ),
            on=column_list[0] )

        count += 1
                    
    else:
        df_f = df_f.join( dict_st2[column_list[count + 1]].set_index( column_list[0] ),
            on=column_list[0] )

        count += 1
            
# # add the mean at the end
df_f["Total general"] = df_f.iloc[ : , 1: ].mean( axis=1 )

#return df_f
df_f

,Etiquetas de fila,L2,L3,L4,M1,M2,M3,M4,R1,R2,R3,R4,T2,T3,T4,Total general
0,01/05/2022 09:00,98.865362,98.766856,99.920692,97.749292,99.588185,98.985641,99.957128,91.289511,100.000000,99.952354,100.000000,99.190245,99.249739,99.859676,98.812477
14,01/05/2022 09:59,98.714911,99.521947,99.703587,98.658293,99.439776,99.964990,99.489848,95.761520,99.458902,99.957849,100.000000,99.650553,99.689068,99.963707,99.283925
28,01/05/2022 11:00,99.354356,99.845822,99.969381,98.770817,99.633396,99.948180,99.885452,91.247389,99.921425,90.074218,99.952707,99.469821,98.841162,99.851807,98.340424
42,01/05/2022 12:00,99.410195,99.487800,99.754191,98.030234,99.789760,99.905457,99.874250,93.188459,99.780770,99.302829,99.975921,99.440047,99.413412,99.991595,99.096066
56,01/05/2022 12:59,99.586356,99.378199,99.795694,98.343240,99.393798,99.559847,99.869987,96.761275,98.112633,99.841601,99.982014,99.626571,99.473916,99.790276,99.251101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,09/05/2022 03:00,99.079638,99.905016,99.989195,100.000000,97.729566,100.000000,100.000000,93.765903,99.731903,99.920255,100.000000,99.925816,99.927575,100.003696,99.284183
2618,09/05/2022 03:59,99.966865,99.752094,99.989270,100.000000,97.280093,100.000000,100.000000,92.607313,99.262899,99.822538,99.906455,99.556163,99.900582,99.819667,99.133138
2632,09/05/2022 05:00,98.855222,99.731894,99.960395,100.000000,98.403256,97.570218,99.981266,97.306911,95.737123,91.541053,100.000000,99.750892,99.627123,99.983963,98.460665
2646,09/05/2022 06:00,98.563849,99.485756,99.822442,100.000000,97.448107,98.457088,99.887721,97.461469,98.240563,99.114862,100.000000,99.364345,99.263208,99.848578,99.068428
2660,09/05/2022 06:59,98.355531,99.174930,99.879004,98.463016,99.546614,99.486058,99.985626,94.298511,99.918752,92.374203,99.789828,99.000226,99.120554,99.888413,98.520090

In [161]:
# tratamiento para un archivo
################## for staging ######################
# test file

# treatment in batch
# parameters in 4G vs "Sector"
pm_to_graph_data = [    
                    "Cell Avail excl BLU", "RACH Stp Completion SR",
                    "Total E-UTRAN RRC conn stp SR", "Data RB stp SR", 
                    "E-UTRAN E-RAB stp SR", "Intra eNB HO SR total", 
                    "Inter eNB E-UTRAN tot HO SR X2", "E-UTRAN Inter-Freq HO SR", 
                    "Avg PDCP cell thp UL", "Avg PDCP cell thp DL", 
                    "PDCP SDU Volume, DL", "PDCP SDU Volume, UL", 
                    "Average CQI", "AVG_RTWP_RX_ANT_1 (M8005C306)", 
                    "Avg UE distance", "VoLTE total traffic", 
                    "Avg active users per cell"
                    ]


# source: "Data2"
pm_to_graph_data2 = ["SCTP X2 succ trans R", "SCTP S1 succ trans R"]

# define operative system
os_ = "l"
if os_ == "w":
    dest_path = r"C:\PythonScripts\output"
    file_name = "\BOG.Atavanza_Alertas Tempranas_4G.xlsx"
    path_file = dest_path + file_name
    
elif os_ == "l":
    dest_path = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output/"
    

# review each file in the path file
# for file_name in os.listdir(dest_path):
#     if "4G" in file_name:
#         path_file = dest_path + file_name
#         print( file_name )


# save in a dict the data for graph
dict_graph = {}
file_name = "BOG.Atavanza_Alertas Tempranas_4G.xlsx"

#path_file = dest_path + file_name

for pm in range(len(pm_to_graph_data)):
    dict_to_graph[ pm_to_graph_data[pm] ] = data_to_graph_1("BOG.Atavanza_Alertas Tempranas_4G.xlsx", pm_to_graph_data[pm] )
    
dict_to_graph

{'Cell Avail excl BLU':       Etiquetas de fila     L2     L3     L4     M1     M2     M3     M4  \
 0     01/05/2022  09:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 14    01/05/2022  09:59  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 28    01/05/2022  11:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 42    01/05/2022  12:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 56    01/05/2022  12:59  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 ...                 ...    ...    ...    ...    ...    ...    ...    ...
 2604  09/05/2022  03:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 2618  09/05/2022  03:59  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 2632  09/05/2022  05:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 2646  09/05/2022  06:00  100.0  100.0  100.0  100.0  100.0  100.0  100.0
 2660  09/05/2022  06:59  100.0  100.0  100.0  100.0  100.0  100.0  100.0

          R1     R2     R3     R4     T2     T3     T4  Total general
 0     100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 14    100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 28    100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 42    100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 56    100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 ...     ...    ...    ...    ...    ...    ...    ...            ...
 2604  100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 2618  100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 2632  100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 2646  100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0
 2660  100.0  100.0  100.0  100.0  100.0  100.0  100.0          100.0

 [191 rows x 16 columns],
 'RACH Stp Completion SR':       Etiquetas de fila         L2         L3         L4          M1  \
 0     01/05/2022  09:00  98.865362  98.766856  99.920692   97.749292
 14    01/05/2022  09:59  98.714911  99.521947  99.703587   98.658293
 28    01/05/2022  11:00  99.354356  99.845822  99.969381   98.770817
 42    01/05/2022  12:00  99.410195  99.487800  99.754191   98.030234
 56    01/05/2022  12:59  99.586356  99.378199  99.795694   98.343240
 ...                 ...        ...        ...        ...         ...
 2604  09/05/2022  03:00  99.079638  99.905016  99.989195  100.000000
 2618  09/05/2022  03:59  99.966865  99.752094  99.989270  100.000000
 2632  09/05/2022  05:00  98.855222  99.731894  99.960395  100.000000
 2646  09/05/2022  06:00  98.563849  99.485756  99.822442  100.000000
 2660  09/05/2022  06:59  98.355531  99.174930  99.879004   98.463016

              M2          M3          M4         R1          R2         R3  \
 0     99.588185   98.985641   99.957128  91.289511  100.000000  99.952354
 14    99.439776   99.964990   99.489848  95.761520   99.458902  99.957849
 28    99.633396   99.948180   99.885452  91.247389   99.921425  90.074218
 42    99.789760   99.905457   99.874250  93.188459   99.780770  99.302829
 56    99.393798   99.559847   99.869987  96.761275   98.112633  99.841601
 ...         ...         ...         ...        ...         ...        ...
 2604  97.729566  100.000000  100.000000  93.765903   99.731903  99.920255
 2618  97.280093  100.000000  100.000000  92.607313   99.262899  99.822538
 2632  98.403256   97.570218   99.981266  97.306911   95.737123  91.541053
 2646  97.448107   98.457088   99.887721  97.461469   98.240563  99.114862
 2660  99.546614   99.486058   99.985626  94.298511   99.918752  92.374203

               R4         T2         T3          T4  Total general
 0     100.000000  99.190245  99.249739   99.859676      98.812477
 14    100.000000  99.650553  99.689068   99.963707      99.283925
 28     99.952707  99.469821  98.841162   99.851807      98.340424
 42     99.975921  99.440047  99.413412   99.991595      99.096066
 56     99.982014  99.626571  99.473916   99.790276      99.251101
 ...          ...        ...        ...         ...            ...
 2604  100.000000  99.925816  99.927575  100.003696      99.284183
 2618   99.906455  99.556163  99.900582   99.819667      99.133138
 2632  100.000000  99.750892  99.627123   99.983963      98.460665
 2646  100.000000  99.364345  99.263208   99.848578      99.068428
 2660   99.789828  99.000226  99.120554   99.888413      98.520090

 [191 rows x 16 columns],
 'Total E-UTRAN RRC conn stp SR':       Etiquetas de fila          L2         L3         L4          M1  \
 0     01/05/2022  09:00   99.946780  99.875408  99.844195   99.969843
 14    01/05/2022  09:59   99.912935  99.776636  99.716396   99.853673
 28    01/05/2022  11:00   99.922743  99.830623  99.731702   99.718706
 42    01/05/2022  12:00   99.897932  99.838881  99.717711   99.868039
 56    01/05/2022  12:59   99.877910  99.786150  99.570284   99.919028
 ...                 ...         ...        ...        ...         ...
 2604  09/05/2022  03:00  100.000000  99.929019  99.968552   99.925651
 2618  09/05/2022  03:59   99.981979  99.976665  99.989565  100.000000
 2632  09/05/2022  05:00   99.956329  99.945520  99.953102   99.827784
 2646  09/05/2022  06:00   99.865814  99.867693  99.658058   99.962434
 2660  09/05/2022  06:59   99.786106  99.642527  99.568811   99.774775

               M2          M3          M4          R1          R2          R3  \
 0      99.757478   99.528857   99.749418   99.879711   99.334996   99.680171
 14     99.590723   99.667449   99.802923   99.926847   99.369989   99.755090
 28     99.583790   99.573652   99.303483   99.883041   99.831176   99.811676
 42     99.247635   99.526168   99.690509   99.891304   99.936829   99.704740
 56     99.763237   99.682899   99.615737   99.796817   99.790210   99.783382
 ...          ...         ...         ...         ...         ...         ...
 2604  100.000000  100.000000  100.000000   99.749373  100.000000  100.000000
 2618  100.000000   99.769408   99.961180  100.000000  100.000000  100.000000
 2632  100.000000   99.967320   99.912434  100.000000   99.333333   99.816379
 2646   99.834117   99.593496   99.159985   99.899699   99.775281   99.705349
 2660   99.755202   99.479688   99.120433   99.465082   99.434229   99.713330

               R4          T2          T3         T4  Total general
 0      99.751120   99.916541   99.878859  99.819061      99.780888
 14     99.917898   99.952157   99.895994  99.819476      99.782728
 28     99.816092   99.919942   99.885310  99.707958      99.751421
 42     99.805258   99.906195   99.736941  99.737387      99.750395
 56     99.857143   99.885480   99.800866  99.757264      99.777601
 ...          ...         ...         ...        ...            ...
 2604  100.000000  100.000000   99.993729  99.994627      99.968639
 2618  100.000000   99.964320  100.000000  99.989696      99.973772
 2632  100.000000   99.965870   99.962016  99.890155      99.895017
 2646   99.771341   99.893410   99.850949  99.723669      99.754378
 2660   99.633196   99.858429   99.827629  99.655805      99.622517

 [191 rows x 16 columns],
 'Data RB stp SR':       Etiquetas de fila          L2         L3         L4         M1  \
 0     01/05/2022  09:00   99.652564  99.835224  99.764828  99.647799
 14    01/05/2022  09:59   99.727667  99.807839  99.672385  99.582412
 28    01/05/2022  11:00   99.672730  99.795025  99.673455  99.657450
 42    01/05/2022  12:00   99.668147  99.783694  99.699367  99.685839
 56    01/05/2022  12:59   99.513907  99.732565  99.640409  99.503599
 ...                 ...         ...        ...        ...        ...
 2604  09/05/2022  03:00  100.000000  99.983397  99.982778  99.884793
 2618  09/05/2022  03:59   99.953572  99.971262  99.983016  99.632931
 2632  09/05/2022  05:00   99.882118  99.955712  99.956063  99.901961
 2646  09/05/2022  06:00   99.556209  99.916532  99.679685  99.645180
 2660  09/05/2022  06:59   99.479395  99.749396  99.644109  99.513185

              M2          M3         M4         R1          R2          R3  \
 0     99.812977   99.644181  99.550090  94.818252   99.291962   99.430470
 14    99.867534   99.779163  99.427134  95.982350   99.450046   99.333603
 28    99.711746   99.250987  99.629070  96.294278   99.638227   99.186313
 42    99.658078   99.328013  99.087799  88.554361   99.638158   99.080768
 56    99.784818   99.457453  99.275690  90.643695   99.477352   99.473407
 ...         ...         ...        ...        ...         ...         ...
 2604  99.874451  100.000000  99.682161  99.655766  100.000000   99.925484
 2618  99.655410  100.000000  99.438413  98.743719  100.000000  100.000000
 2632  99.788264   99.624309  99.185029  98.268975   99.482402   99.769106
 2646  99.687326   99.011216  98.705215  92.677346   99.302407   99.243570
 2660  99.598342   99.032063  98.740195  94.160695   98.939576   99.122643

               R4         T2         T3         T4  Total general
 0      99.565375  99.685906  99.832721  99.791245      99.308828
 14     99.620327  99.743957  99.859456  99.811991      99.404705
 28     99.540079  99.703396  99.729819  99.643391      99.366140
 42     99.095023  99.726271  99.698639  99.737991      98.745868
 56     99.731814  99.539512  99.804349  99.667467      98.946145
 ...          ...        ...        ...        ...            ...
 2604   99.356223  99.990615  99.981487  99.987348      99.878893
 2618  100.000000  99.956370  99.977507  99.967209      99.805672
 2632   99.270073  99.848959  99.963267  99.921918      99.629868
 2646   98.887653  99.664511  99.846125  99.811682      98.973904
 2660   99.526515  99.475928  99.847219  99.668940      99.035586

 [191 rows x 16 columns],
 'E-UTRAN E-RAB stp SR':       Etiquetas de fila          L2          L3         L4          M1  \
 0     01/05/2022  09:00   99.983735   99.970542  99.936869   99.969724
 14    01/05/2022  09:59   99.973174   99.968868  99.932009   99.937695
 28    01/05/2022  11:00   99.991156   99.947696  99.891775   99.969040
 42    01/05/2022  12:00   99.975742   99.947990  99.942177   99.940776
 56    01/05/2022  12:59   99.969256   99.956519  99.933061  100.000000
 ...                 ...         ...         ...        ...         ...
 2604  09/05/2022  03:00  100.000000  100.000000  99.982718  100.000000
 2618  09/05/2022  03:59  100.000000   99.983455  99.995727  100.000000
 2632  09/05/2022  05:00   99.965979   99.993018  99.996240   99.834620
 2646  09/05/2022  06:00   99.976445   99.953251  99.898047   99.959726
 2660  09/05/2022  06:59   99.972046   99.968105  99.890726   99.887798

               M2          M3          M4          R1          R2          R3  \
 0      99.858290   99.961620   99.909074   99.954149   99.240699   99.906991
 14     99.923062   99.889572   99.828444  100.000000   99.798285   99.908592
 28     99.959831   99.623223   99.672978   99.865410   99.746835   99.839228
 42     99.706515   99.704553   99.225340   99.955177   99.457406   99.908842
 56     99.824527   99.928724   99.739632  100.000000   99.810726   99.946624
 ...          ...         ...         ...         ...         ...         ...
 2604  100.000000  100.000000  100.000000  100.000000  100.000000   99.958316
 2618  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
 2632   99.751861  100.000000   99.932249  100.000000   98.769231   99.819712
 2646   99.924281   99.810642   99.393258  100.000000   99.472574   99.729155
 2660   99.871630   99.750662   99.203540   99.839846   99.709784   99.847114

               R4          T2          T3          T4  Total general
 0      99.759962   99.976899   99.969558   99.949505      99.881973
 14     99.881423   99.982936   99.984126   99.956710      99.926064
 28    100.042882   99.926724   99.916066   99.942779      99.881116
 42     99.771376   99.978367   99.945490   99.969639      99.816385
 56     99.778761   99.969438   99.917279   99.932675      99.907659
 ...          ...         ...         ...         ...            ...
 2604   99.754902  100.000000  100.004647  100.000000      99.978613
 2618  100.000000  100.000000   99.995465  100.000000      99.998189
 2632   99.872935   99.993312   99.987447   99.988020      99.850330
 2646  100.000000   99.980717   99.947221   99.933215      99.855609
 2660   99.866844   99.965246   99.965947   99.918409      99.832693

 [191 rows x 16 columns],
 'Intra eNB HO SR total':       Etiquetas de fila          L2          L3          L4     M1  \
 0     01/05/2022  09:00   99.579832   99.821109   96.844181  100.0
 14    01/05/2022  09:59   99.130435   98.993289   97.257770  100.0
 28    01/05/2022  11:00   99.522293   97.537620   95.564516  100.0
 42    01/05/2022  12:00   99.448529  100.000000   96.475771  100.0
 56    01/05/2022  12:59   99.043977   99.501661   94.791667  100.0
 ...                 ...         ...         ...         ...    ...
 2604  09/05/2022  03:00  100.000000  100.000000   98.000000    NaN
 2618  09/05/2022  03:59  100.000000  100.000000   95.833333  100.0
 2632  09/05/2022  05:00   99.350649   98.753894  100.000000  100.0
 2646  09/05/2022  06:00   99.599198   99.656357  100.000000  100.0
 2660  09/05/2022  06:59   99.520384   98.845599  100.000000  100.0

               M2          M3  M4          R1          R2          R3  \
 0      98.181818  100.000000 NaN  100.000000  100.000000   98.019802
 14    100.000000  100.000000 NaN  100.000000  100.000000   99.082569
 28    100.000000  100.000000 NaN  100.000000   98.611111  100.000000
 42    100.000000   98.148148 NaN  100.000000  100.000000   98.989899
 56    100.000000  100.000000 NaN  100.000000   97.647059   98.230088
 ...          ...         ...  ..         ...         ...         ...
 2604  100.000000  100.000000 NaN  100.000000  100.000000  100.000000
 2618  100.000000  100.000000 NaN  100.000000  100.000000  100.000000
 2632  100.000000  100.000000 NaN  100.000000  100.000000  100.000000
 2646   98.305085  100.000000 NaN  100.000000  100.000000  100.000000
 2660   98.666667   98.969072 NaN   99.009901   99.074074  100.000000

               R4          T2          T3          T4  Total general
 0     100.000000   99.832215   99.137931   97.934596      99.180883
 14    100.000000   99.692780   99.841521   99.277457      99.482755
 28    100.000000   99.667774   99.678973   98.235294      99.139814
 42     98.148148   99.828473   99.828767   97.408207      99.098150
 56    100.000000  100.000000   99.836601   98.028674      99.006133
 ...          ...         ...         ...         ...            ...
 2604  100.000000  100.000000   98.989899  100.000000      99.749158
 2618  100.000000  100.000000  100.000000   99.038462      99.605523
 2632  100.000000   99.425287  100.000000   99.141631      99.743959
 2646  100.000000   99.618321   99.583333   99.712644      99.728841
 2660   98.936170   99.214660   98.978102   99.871465      99.314315

 [191 rows x 16 columns],
 'Inter eNB E-UTRAN tot HO SR X2':       Etiquetas de fila         L2         L3         L4          M1  \
 0     01/05/2022  09:00  99.711066  98.041616  98.013245   99.393939
 14    01/05/2022  09:59  99.502212  98.313253  97.993311   99.107143
 28    01/05/2022  11:00  99.623757  96.857464  97.637131   99.532710
 42    01/05/2022  12:00  99.263502  98.400853  98.819827   98.604651
 56    01/05/2022  12:59  99.487179  97.614108  98.637138   99.586777
 ...                 ...        ...        ...        ...         ...
 2604  09/05/2022  03:00  99.553571  97.402597  91.764706  100.000000
 2618  09/05/2022  03:59  99.712230  95.833333  90.728477  100.000000
 2632  09/05/2022  05:00  99.523810  99.401198  94.960630   97.727273
 2646  09/05/2022  06:00  99.556459  98.082822  96.413322   99.358974
 2660  09/05/2022  06:59  99.148634  97.297297  97.165458   99.186992

               M2         M3         M4          R1          R2          R3  \
 0      98.864443  96.218487  94.884910   98.095238   99.107143   98.901099
 14     98.769988  94.485294  95.680346  100.000000   98.976982   98.239437
 28     99.409333  93.493151  96.875000   97.674419   99.220779   96.677741
 42     99.068323  91.126280  95.355191   98.400000   97.953964   97.359736
 56     98.713450  96.166134  95.465394   98.876404   99.052133   98.235294
 ...          ...        ...        ...         ...         ...         ...
 2604   99.065421  80.952381  92.307692  100.000000  100.000000  100.000000
 2618  100.000000  75.000000  80.000000   96.875000  100.000000   96.969697
 2632   99.805447  94.656489  92.741935   99.500000   98.606272   99.038462
 2646   99.284087  95.140665  93.258427   98.461538   98.911565   98.726115
 2660   97.900128  98.738739  96.819085   98.926655   96.681097   99.585062

               R4          T2         T3         T4  Total general
 0      91.566265   99.463384  96.358118  97.478992      97.578425
 14     98.969072   99.585308  97.149644  99.018733      98.270766
 28     98.684211   99.431478  97.066667  98.229342      97.886656
 42    100.000000   99.480916  98.048780  98.956357      97.917027
 56     99.047619   99.682448  97.266036  99.278629      98.364910
 ...          ...         ...        ...        ...            ...
 2604   83.333333  100.000000  95.744681  96.666667      95.485075
 2618  100.000000   99.816850  96.039604  93.750000      94.623228
 2632  100.000000   99.544592  98.232323  96.064815      97.843089
 2646   99.090909   99.646574  98.325581  96.975252      97.945164
 2660   97.515528   99.442068  98.142415  98.493976      98.217367

 [191 rows x 16 columns],
 'E-UTRAN Inter-Freq HO SR':       Etiquetas de fila          L2          L3          L4     M1  \
 0     01/05/2022  09:00   99.454148   99.709724   99.716312  100.0
 14    01/05/2022  09:59   99.000999   99.078341   99.613900  100.0
 28    01/05/2022  11:00   99.508841   96.778523   99.588477  100.0
 42    01/05/2022  12:00   99.395770   99.720670   99.092284  100.0
 56    01/05/2022  12:59   99.046610   99.500000   98.628049  100.0
 ...                 ...         ...         ...         ...    ...
 2604  09/05/2022  03:00  100.000000  100.000000   97.872340  100.0
 2618  09/05/2022  03:59  100.000000   98.936170   96.341463  100.0
 2632  09/05/2022  05:00   99.558499   98.910082  100.000000  100.0
 2646  09/05/2022  06:00   99.652778   99.749373   99.738903  100.0
 2660  09/05/2022  06:59   98.601399   98.793860   99.886234  100.0

               M2          M3          M4          R1          R2          R3  \
 0     100.000000  100.000000   97.959184   97.872340   98.130841   95.238095
 14    100.000000   97.872340   92.452830  100.000000   99.000000   98.648649
 28    100.000000  100.000000   96.078431   98.591549   98.076923  100.000000
 42     98.684211   97.222222   93.750000   98.630137   98.290598   96.969697
 56    100.000000   97.058824   86.046512   97.619048   97.979798  100.000000
 ...          ...         ...         ...         ...         ...         ...
 2604  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
 2618  100.000000  100.000000  100.000000   90.909091  100.000000   96.551724
 2632  100.000000  100.000000  100.000000  100.000000   96.551724  100.000000
 2646   98.823529  100.000000   94.871795   98.734177   98.870056  100.000000
 2660   98.611111  100.000000  100.000000   98.976109   98.400000  100.000000

               R4          T2          T3          T4  Total general
 0     100.000000   99.697275   99.385561   99.859748      99.073088
 14     93.750000   99.805447   99.589041   99.884925      98.478319
 28    100.000000   99.700599   99.526066   99.711400      99.111486
 42     94.117647  100.000000   99.839228   99.483649      98.228294
 56    100.000000   99.620253   99.695586   99.860724      98.218243
 ...          ...         ...         ...         ...            ...
 2604  100.000000  100.000000   98.850575  100.000000      99.765923
 2618         NaN  100.000000  100.000000   98.888889      98.586718
 2632  100.000000   99.751861   99.622642   98.916968      99.522270

In [162]:
len(dict_to_graph)

17

In [90]:
# tratamiento para un archivo

# test file
os_ = "l"

if os_ == "w":
    dest_path = r"C:\PythonScripts\output"
    path_file_test = dest_path + "\BOG.Atavanza_Alertas Tempranas_4G.xlsx"
    
elif os_ == "l":
    dest_path = r"/home/opm/Documentos-opm/OPN_COLOMBIA/ANALYSIS/output"
    path_file_test = dest_path + "/BOG.Atavanza_Alertas Tempranas_4G.xlsx"

# variables
parameter = "Cell Avail excl BLU"
filter_by = "Sector"
source = "Data"

# read the specific tab
df_in = pd.read_excel( io=path_file_test, sheet_name= source )

# attributes for the graph
df_graph_1 = df_in[ [ 'Period start time', parameter, filter_by ] ]

# rename the attribute 
df_graph_1 = df_graph_1.rename( { "Period start time": "Etiquetas de fila"}, axis='columns')

# change the format
df_graph_1['Etiquetas de fila'] = df_graph_1['Etiquetas de fila'].dt.strftime( '%d/%m/%Y  %H:%M' )

# uniques values for the attribute column
column_list = list( df_graph_1[ filter_by ].unique() )

# insert the first attribute
column_list.insert( 0, "Etiquetas de fila" )

# Dictionary for data package
dict_graph1 = {}

# the first value of dictionary
dict_graph1[ column_list[0] ] = df_graph_1[ column_list[0] ] 

# build a dictionary with 
for item in range(1, len( column_list ) ):
    dict_graph1[ column_list[item] ] = df_graph_1[ df_graph_1[ filter_by ] == column_list[item] ][parameter]

df_1 = pd.DataFrame( dict_graph1 )

dict_st2 = {}
for item in range(1, len( column_list ) ):
    dict_st2[ column_list[item] ] = df_1[ (df_1[ column_list[item] ] > 0)][[column_list[0], column_list[item]]]

# create a consolidate df
count = 1
while ( count < len( dict_st2 ) ):
    global df_f
        
    if count == 1:
        df_f = dict_st2[column_list[count]].join(
            dict_st2[column_list[count + 1]].set_index( column_list[0] ),
            on=column_list[0] )

        count += 1
                    
    else:
        df_f = df_f.join( dict_st2[column_list[count + 1]].set_index( column_list[0] ),
            on=column_list[0] )

        count += 1
            
    # add the mean at the end
df_f["Total general"] = df_f.iloc[ : , 1: ].mean( axis=1 )

dict_to_graph = {}
dict_to_graph[ parameter ] = df_f

In [91]:
dict_to_graph[ parameter ]

,Etiquetas de fila,L2,L3,L4,M1,M2,M3,M4,R1,R2,R3,R4,T2,T3,T4,Total general
0,01/05/2022 09:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
14,01/05/2022 09:59,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
28,01/05/2022 11:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
42,01/05/2022 12:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
56,01/05/2022 12:59,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,09/05/2022 03:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2618,09/05/2022 03:59,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2632,09/05/2022 05:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2646,09/05/2022 06:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2660,09/05/2022 06:59,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0

In [57]:
# add the last item
df_t0 = pd.DataFrame({
    'A': [1, 2, 3], 
    "B": [4, 5, 6], 
    "C": [7, 8, 9]
})

df_t0["mean"] = df_t0.iloc[ : , 1: ] .mean( axis=1 )

In [58]:
df_t0

   A  B  C  mean
0  1  4  7   5.5
1  2  5  8   6.5
2  3  6  9   7.5

In [1]:
# option 2
dest_path = r"output/"

#############################################################
#**** Graphs*****
#############################################################

print("\n")
print("********************************************************")
print("graphics for 4g...")
print("********************************************************")

########## Data injection FAULTS LTE #########
# loop through existing files
for file_name in os.listdir(dest_path):
    if "4G" in file_name:
        # file filtered path
        path_file_4g = dest_path + file_name
        
        print( path_file_4g )
        
    #     for site in dic_lte_faults:
    #         if site in path_file_4g:
    #             # data injection
    #             with pd.ExcelWriter( 
    #                                 path_file_4g,
    #                                 mode='a', 
    #                                 engine='openpyxl', 
    #                                 if_sheet_exists='overlay' ) as writer:
                    
    #                 # reading the dimensions of the existing file
    #                 reader_faults_lte = pd.read_excel( path_file_4g, sheet_name='Data2' )
    #                 start_row_faults_lte = len( reader_faults_lte ) + 1
                    
    #                 # fill the specific df in an existing sheet
    #                 dic_lte_faults[ site ].to_excel( 
    #                                             writer, 
    #                                             sheet_name = 'Data2', 
    #                                             index = False,
    #                                             header = None,
    #                                             startrow = start_row_faults_lte
    #                                             )
                      
    #         else:
    #             pass
                
    # else:
    #     pass

********************************************************
4G data injection...
********************************************************
output/BOG.Puente Grande_Alertas Tempranas_4G.xlsx
output/BOG.CC Titan-2_Alertas Tempranas_4G.xlsx
output/BCA.Terminal_Alertas Tempranas_4G.xlsx
output/BOG.Atavanza_Alertas Tempranas_4G.xlsx